exportPattern("^[[:alpha:]]+")
import(dplyr)
import(tidyr)
import(ggplot2)
import(stringr)
import(tibble)
import(igraph)
import(ggraph)
import(networkD3)
import(tm)
import(tidytext)
import(topicmodels)
import(wordcloud)